<html>
<head>
<style>
	body {
			background-image:url('https://www.ultrahdwallpaper.in/uploads/cache/1853036340/4k_Abstract_Wallpapers_for_Mobile-400x270-MM-100.jpg');
			background-size: cover;
			font-family:serif;
			font-weight: bold;
		}
	.row{
	text-align:center;
	padding-top:35px;
	}
	input
	{
	margin-top:10px;
	}
	input[type=submit]:hover
	{
	background-color:black;
	color: white;
	}
</style>
</head>

<body>
<div class="container">
    <div class="row" >
        <img src="/static/images/message.jpg" width="50%">
		<form action="{{ url_for('index') }}">
			<input type="submit" value="Try Again"/>
		</form>
		
    </div>
</div>
</body>
</html>